
<div id="input-group" class="input-group">
  <input placeholder="Write todos.." id="itemTitleBtn" type="text" class="form-control" #name>
  <div id="addTitleBtn" class="input-group-addon hover-cursor" (click)="addEvent(name)">
    <i class="fa fa-plus-circle fa-2x"></i>
  </div>
</div>

<div style="margin:5px 0px">
  <ul class="list-group">
    <li id="liItem" class="list-group-item" *ngFor="let item of events;let i = index">
      <span id="checkBtn" class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(i,item.isChecked)">
        <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
      </span>
      {{item.name}}
      <button type="button" class="btn btn-primary pull-right" ([ngModel])="name" (click)="editEvent(i, name)"><i class="fa fa-edit"></i></button>
      <button id="deleteEvent" type="button" class="btn btn-danger pull-right btnDelete" (click)="deleteEvent(i)"><i class="fa fa-trash"></i></button>
    </li>
  </ul>
</div>
<div id="errorMsgId" class="alert" [ngClass]="{'alert-danger': errorMessage!=null}" role="alert">
  {{errorMessage}}
</div>

