
<nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    </li>
    <li class="nav-item">
      <a id="routerBtn" class="nav-link" [routerLink]="['todosPage']">
        Todos
      </a>
    </li>
  </ul>
  <span>
    <button id="login" class="btn btn-primary" *ngIf="!isAuthenticated" (click)="login()"> Login </button>
    <button id="logout" class="btn btn-primary" *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
  </span>
</nav>
<router-outlet></router-outlet>
